header {
    background-color: #673ab7;
    color: white;
}

.title-header {
    text-align: center;
    background: #673ab7;
    padding: 24px 0 24px;
    margin: 0;
}

.search-container {
    max-width: 1400px;
    margin: 0 auto;
}

.filter-input-groups-container {
    display: flex;
    justify-content: space-between;
    margin: 16px 0 0;
}

.filter-input-groups-container span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.restaurant-list-container {
    width: 100%;
    margin-top: 32px;
}

.restaurant-list-container table {
    width: 100%;
}
.rating-good {
    font-weight: bold;
    color:green;
}
.rating-average {
    font-weight: bold;
    color: orange;
}
.rating-bad {
    color: red;
}
.rating-not-available {
    color: grey;
}

td.mat-cell:first-of-type {
    width: 25%;
}

.mat-cell {
    width: 17%;
    padding-right: 16px;
}

tr.mat-row:nth-child(2n) {
    background-color: whitesmoke;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.pagination-container button {
    width: 100%;
}

.pagination-specific-pages {
    display: block;
}

.selected-page-button {
    background-color: rgb(103, 58, 183);
    color: white;
    border: 0;
}