<header>
    <h1 class="mat-display-1 title-header">Tilsynsresultatsøk</h1>
</header>

<body class="mat-app-background ">
    <div class="search-container">
        <form [formGroup]="filterForm" ngDefaultControl (ngSubmit)="onSubmitFilters()">
            <div class="filter-input-groups-container">
                <span>
                    <mat-form-field appearance="fill">
                        <mat-label>Karakter</mat-label>
                        <input matInput type="number" formControlName="rating">
                    </mat-form-field>
                </span>
                <span>
                    <mat-form-field appearance="fill">
                        <mat-label>Navn</mat-label>
                        <input matInput type="text" formControlName="name">
                    </mat-form-field>
                </span>
                <span>
                    <mat-form-field appearance="fill">
                        <mat-label>Poststed</mat-label>
                        <input matInput type="text" formControlName="place">
                    </mat-form-field>
                </span>
                <span>
                    <mat-form-field appearance="fill">
                        <mat-label>Postnummer</mat-label>
                        <input matInput type="number" formControlName="zipCode">
                    </mat-form-field>
                </span>
                <span>
                    <mat-form-field appearance="fill">
                        <mat-label>Org. nummer</mat-label>
                        <input matInput type="number" formControlName="organizationNumber">
                    </mat-form-field>
                </span>
            </div>

            <button mat-flat-button color="primary" type="submit">Aktiver filtre</button>
        </form>

        <div *ngIf="currentlyDisplayedRestaurants; else noResultErrorMessage" class="restaurant-list-container">
            <table mat-table [dataSource]="currentlyDisplayedRestaurants" class="mat-elevation-z8">
                <ng-container matColumnDef="navn">
                    <th mat-header-cell *matHeaderCellDef> Navn </th>
                    <td mat-cell *matCellDef="let element"> {{element.navn}} </td>
                </ng-container>

                <ng-container matColumnDef="total_karakter">
                    <th mat-header-cell *matHeaderCellDef> Total karakter </th>
                    <td mat-cell [ngClass]="getRatingClass(element.total_karakter)" *matCellDef="let element"> {{element.total_karakter}} </td>
                </ng-container>

                <ng-container matColumnDef="karakter1">
                    <th mat-header-cell *matHeaderCellDef> Rutiner og ledelse </th>
                    <td mat-cell *matCellDef="let element"> {{element.karakter1}} </td>
                </ng-container>

                <ng-container matColumnDef="karakter2">
                    <th mat-header-cell *matHeaderCellDef> Lokaler og utstyr </th>
                    <td mat-cell *matCellDef="let element"> {{element.karakter2}} </td>
                </ng-container>

                <ng-container matColumnDef="karakter3">
                    <th mat-header-cell *matHeaderCellDef> Mat-håndtering og tilberedning </th>
                    <td mat-cell *matCellDef="let element"> {{element.karakter3}} </td>
                </ng-container>

                <ng-container matColumnDef="karakter4">
                    <th mat-header-cell *matHeaderCellDef> Merking og sporbarhet </th>
                    <td mat-cell *matCellDef="let element"> {{element.karakter4}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <ng-template #noResultErrorMessage>Ingen resultater tilgjengelig.</ng-template>

        <div class="pagination-container">
            <button mat-stroked-button color="primary" (click)="onPageChange(1)">Første</button>
            <button mat-stroked-button color="primary" (click)="onPageChange(currentInternalPage > 1 ? currentInternalPage - 1 : currentInternalPage)">Forrige</button>
            <ng-container *ngFor="let _ of amountOfPageNumbersToDisplay; let i = index">
                <button *ngIf="isPageNumberDisplayed(i + currentInternalPage)" mat-stroked-button color="primary"
                    [ngClass]="{'selected-page-button': i === 0}" (click)="onPageChange(i + currentInternalPage)">{{i + currentInternalPage}}</button>
            </ng-container>
            <button mat-stroked-button color="primary" (click)="onPageChange(currentInternalPage < totalPages ? currentInternalPage + 1 : currentInternalPage)">Neste</button>
            <button mat-stroked-button color="primary" (click)="onPageChange(totalPages)">Siste</button>
        </div>
    </div>
</body>