<header>
    <h1>Tilsynsresultatsøk</h1>
</header>

<body>
    <form [formGroup]="filterForm" ngDefaultControl (ngSubmit)="onSubmitFilters()">
        <div class="filter-input-groups-container">
            <span>
                <label for="rating">Karakter</label>
                <input id="rating" type="number" formControlName="rating">
            </span>
            <span>
                <label for="name">Navn</label>
                <input id="name" type="text" formControlName="name">
            </span>
            <span>
                <label for="place">Poststed</label>
                <input id="place" type="text" formControlName="place">
            </span>
            <span>
                <label for="zipCode">Postnummer</label>
                <input id="zipCode" type="number" formControlName="zipCode">
            </span>
            <span>
                <label for="organizationNumber">Org. nummer</label>
                <input id="organizationNumber" type="number" formControlName="organizationNumber">
            </span>
        </div>

        <button type="submit">Apply</button>
    </form>

    <div *ngIf="restaurantList; else noResultErrorMessage" class="restaurant-list-container">
        <table>
            <tr>
                <th>Navn</th>
                <th>Total karakter</th>
                <th>Rutiner og ledelse</th>
                <th>Lokaler og utstyr</th>
                <th>Mat-håndtering og tilberedning</th>
                <th>Merking og sporbarhet</th>
            </tr>
            <tr *ngFor="let restaurant of restaurantList">
                <td>{{restaurant.navn}}</td>
                <td>{{restaurant.total_karakter}}</td>
                <td>{{restaurant.karakter1}}</td>
                <td>{{restaurant.karakter2}}</td>
                <td>{{restaurant.karakter3}}</td>
                <td>{{restaurant.karakter4}}</td>
            </tr>
        </table>
    </div>
    <ng-template #noResultErrorMessage>Ingen resultater tilgjengelig.</ng-template>

    <div class="pagination-container">
        <button (click)="onPageChange(1)">First</button>
        <button (click)="onPageChange(currentPage > 1 ? currentPage - 1 : currentPage)">Previous</button>
        <ng-container *ngFor="let _ of [].constructor(7); let i = index">
            <button (click)="onPageChange(i + currentPage)">{{i + currentPage}}</button>
        </ng-container>
        <button (click)="onPageChange(currentPage < totalPages ? currentPage + 1 : currentPage)">Next</button>
        <button (click)="onPageChange(totalPages)">Last</button>
    </div>
</body>